header
  .collapse.bg-light#navbarHeader
    .container
      .row
        .col-sm-8.col-md-7.py-4
          h4.text-white Hidden Content
          p.text-muted Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.
        
  nav.navbar.navbar-light.bg-light.shadow-sm
    .container.d-flex.justify-content-between
      a.navbar-brand.d-flex.align-items-center
        //- Including the svg logo
        //include alpha-waste-logo.svg
        //img(src='/alpha-waste.logo.png')
        strong Alpha Waste