html
html
   head
      title Reset Password
      link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
   body
      include header.pug
      .container
         .card
            .card-body
               form(action = action.concat("/").concat(userId).concat("/resetPassword/").concat(token), method = "POST")
                  div
                     label(for = "Email") Email:
                     input(name = "email" value = email size="50" readonly)
                  br
                  div
                     label(for = "New Password") Password:
                     input(type="password", name="password", id="password", value = password ? password : '', size="50")
                     if errors
                        each error in errors
                           p(style="color:red").error= error.msg
                  br
                  div
                     label(for = "Retype Password") Retype Password:
                     input(type="password", name="rePassword", id="rePassword", value = rePassword ? rePassword : '', size="50")
                  br
                  button.btn-primary(type = "submit") Confirm Password